$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #0c0c0c;
$link-hover-color: #c200f8;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "reboot";
@import "navbar";
@import "main";
@import "conference";
@import "program";
@import "paper_submision";
@import "registration";
@import "membership";
@import "footer";